body,
html {
    background: url("../../img/fons/webb-dark.png") repeat;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 80px;
}

footer {
    height: 80px;
    margin-top: -80px;
}
.mainActivityFourthTask, .footer {
    background: url("../../img/fons/webb-dark.png") repeat;
    padding-top: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #c6d6e2;
}
.mainActivityFourthTask {
    padding-bottom: 30px;
}
h1 {
    text-align: center;
    margin-left: -55px;
    color: #DDEEF9;
}
hr.firstLine, hr.secondLine {
    height: 4px;
    border: none;
    color:  #f5f8ff;
}
hr.firstLine {
    margin-top: 30px;
}
h3 {
    margin-top: 15px;
}
h4 {
    text-align: center;
    font-weight: lighter;
    color: #f5f8ff;
}
.mainContent {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;

}
.titleOfField {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.fieldToDraw {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 12;
}
.titleSettings, .menuOfSettings, .btnStart, .nameOfOutputFirst, .outputFirst, .btnEnd, .btnClear {
    margin-left: 5%;
    margin-right: 5%;
}

.titleSettings, .btnStart, .btnEnd, .btnClear, .outputFirst {
    text-align: center;
}

.btnStart, .btnEnd, .nameOfOutputFirst, .outputFirst, .btnClear {
    margin-top: 10px;
}
.titleSettings {
margin-top: 10px;
}

.menuOfSettings {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 5% 20px 5%;
    height: auto;
    border: 4px solid #718296;
    background-color: #f5f8ff; /* Black */
}

.diffSettings {
    display: grid;
    grid-template-areas: "celltext1 myRange1 result1"
                         "celltext2 myRange2 result2"
                         "celltext3 myRange3 result3"
                         "celltext4 myRange4 result4";
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: auto;
    row-gap: 5%;
    margin-bottom: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #5e7896;
    border-radius: 5%;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #960912;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:hover::-webkit-slider-runnable-track {
    background: #aab9cb;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #5e7896;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #960912;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #5e7896;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #5e7896;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #960912;
    cursor: pointer;
}
input[type=range]:hover::-ms-fill-lower {
    background: #aab9cb;
}
input[type=range]:focus::-ms-fill-upper {
    background: #aab9cb;
}

.textParametr, .text {
    color: #960912;
    text-align: center;
}

.textParametr {
    padding-right: 5px;
}

.important {
    font-weight: bold;
}

.yesNoGroup {
    display: grid;
    grid-template-areas: "yes no";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    margin-top: 10px;
}

#start {
    margin-left: 5px;
    border-radius: 4%;
    background-color: #f5f8ff;
    border: 3px solid #a0aebe;
    font-size: 16px;
}

.toOtherPage {
    margin-top: 10px;
    border: 3px solid transparent;
    border-top: ridge #f5f8ff;
    border-bottom: ridge #f5f8ff;
}

.toOtherPage:first-child
{
    text-align: center;
}

#pointField {
    margin-top: 20px;
    background-color: #f5f8ff;
    border: 4px solid #718296;
}

#path {
    color: #960912;
    font-weight: bold;
}
.btn {
    margin-left: 5px;
    border-radius: 4%;
    cursor: pointer;
    background-color: #f5f8ff;
    border: 3px solid #960912;
    font-size: 16px;
    color: #960912;
}

button:focus {
    background-color: #ffffff;
}

.sidebar {
    align-items: center;
    margin-top: 20px;
    padding-right: 5%;
    padding-top: 20px;
    text-align: left;
    height: auto;
    border: 4px solid #718296;
    background-color: #f5f8ff;
}

.sidebar__menu a {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: #78899f;
    text-decoration: none;
}
a.toMain {
    font-size: 20px;
}
a:hover {
    color: #5b687e;
}
.sidebar__menu li {
    list-style-position: outside;
}

.footer__menu__names {
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer__menu__names:nth-child(2) {
    margin-left: 20%;
}
.footer__menu__names a
{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #ddeef9;
    text-decoration: none;
}

.footer__menu li {
    list-style-type: none;
}
