.mainActivitySixTask, .footer{
    background: url('../../img/fons/connectwork.png') repeat;
    padding-top: 30px;
}
.mainActivitySixTask {
    padding-bottom: 30px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #c6d6e2;
}

h1 {
    text-align: center;
    margin-left: -55px;
    color: #DDEEF9;
}

hr.firstLine, hr.secondLine {
    height: 4px;
    border: none;
    color: #cde2fa;
}

hr.firstLine {
    margin-top: 30px;
}

h3 {
    margin-top: 15px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    color: #f5f8ff;
}

h4.menu {
    text-align: center;
}

.mainContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;

}
.box1 {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

.box3 {
    margin-top: 20px;
}

.box3, .box4, .box5, .box6 {
    margin-left: 5%;
    margin-right: 5%;
}

.toOtherPage {
    margin-top: 20px;
    border: 3px solid transparent;
    border-top: ridge #cde2fa;
    border-bottom: ridge #cde2fa;
}

.toOtherPage:nth-child(1)
{
    text-align: center;
}
.pushOnMe, .pushOnMeSecond {
    background: #b9c8da;
    border: 3px solid #5e7896;
    font-size: 20px;
}

.pushOnMeSecond {
    margin-top: 20px;
}

input:focus {
    background-color: #ffffff; /* Green border */
}

#pointField {
    margin-top: 20px;
    max-width: 100%;
    background-color: #f5f8ff;
    border: 4px solid #718296;
}

.sidebar {
    padding-right: 4px;
    text-align: left;
    margin-top: 20px;
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    border: 4px solid #718296;
    background-color: #f5f8ff; /* Black */
    padding-top: 20px;
}

.sidebar__menu a {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: #78899f;
    text-decoration: none;
}
a.toMain {
    font-size: 20px;
}
a:hover {
    color: #5b687e;
}
.sidebar__menu li {
    list-style-position: outside;
    list-style-type: none;
}

.footer__menu__names {
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer__menu__names:nth-child(2) {
    margin-left: 20%;
}
.footer__menu__names a
{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #ddeef9;
    text-decoration: none;
}

.footer__menu li {
    list-style-type: none;
}
