.mainActivityThirdTask, .footer {
    background: url("../../img/fons/webb-dark.png");
    padding-top: 30px;
}
.mainActivityThirdTask {
    padding-bottom: 30px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #c6d6e2;
}

h1 {
    text-align: center;
    margin-left: -55px;
    color: #DDEEF9;
}

hr.firstLine, hr.secondLine {
    height: 4px;
    border: none;
    color:  #f5f8ff;
}

hr.firstLine {
    margin-top: 30px;
}

h3 {
    margin-top: 15px;
}

h4 {
    font-weight: lighter;
    color: #f5f8ff;
}

h4.menu {
    text-align: center;
}

.mainContent {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;

}
.box1 {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 12;
}

.box3, .box4, .box5, .box6, .box7, .box8, .box9, .box71 {
    margin-left: 5%;
    margin-right: 5%;
}
.box3, .box5, .box4, .box6 {
    text-align: center;
}

#start {
    font-size: 16px;
    background-color: #f5f8ff;
    margin-left: 5px;
    border-radius: 4%;
    border: 3px solid #a0aebe;
}
.box4 {
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#rezult {
    font-size: 16px;
    background-color: #f5f8ff;
    margin-left: 5px;
    border-radius: 4%;
    border: 3px solid #a0aebe;
}
.box5 {
     margin-top: 10px;
     margin-bottom: 20px;
     text-align: center;
 }

.box7 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.box71 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.toOtherPage {
    border: 3px solid transparent;
    border-top: ridge #f5f8ff;
    border-bottom: ridge #f5f8ff;
}

.toOtherPage:nth-child(1)
{
    text-align: center;
}

#graphField {
    margin-top: 20px;
    background-color: #f5f8ff;
    border: 4px solid #718296;
}

.btn {
    color: #960912;
    background-color: #f5f8ff;
    margin-left: 5px;
    border-radius: 4%;
    border: 3px solid #960912;
    cursor: pointer; /* Pointer/hand icon */
}

button:focus {
    background-color: #ffffff;
}

.sidebar {
    align-items: center;
    margin-top: 20px;
    padding-right: 5%;
    padding-top: 20px;
    text-align: left;
    height: auto; /* Full-height: remove this if you want "auto" height */
    border: 4px solid #718296;
    background-color: #f5f8ff; /* Black */
}

.sidebar__menu a {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: #78899f;
    text-decoration: none;
}
a.toMain {
    font-size: 20px;
}
a:hover {
    color: #5b687e;
}
.sidebar__menu li {
    list-style-position: outside;
}

.footer__menu__names {
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer__menu__names:nth-child(2) {
    margin-left: 20%;
}
.footer__menu__names a
{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #ddeef9;
    text-decoration: none;
}

.footer__menu li {
    list-style-type: none;
}
