body,
html {
    background: url("../../img/fons/webb-dark.png") repeat;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 80px;
}

footer {
    height: 80px;
    margin-top: -80px;
}
.mainActivityThirdTask, .footer {
    background: url("../../img/fons/webb-dark.png") repeat;
    padding-top: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #c6d6e2;
}
.mainActivityThirdTask {
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    margin-left: -55px;
    color: #DDEEF9;
}

hr.firstLine, hr.secondLine {
    height: 4px;
    border: none;
    color:  #f5f8ff;
}

hr.firstLine {
    margin-top: 30px;
}

h3 {
    margin-top: 15px;
}

h4 {
    text-align: center;
    font-weight: lighter;
    color: #f5f8ff;
}

.mainContent {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;

}
.titleOfField {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

h3.titleOfField {
    text-align: left;
}

.fieldToDraw {
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 12;
}

.buttonStart, .nameOfOutputFirst, .outputFirst, .nameOfOutputSecond, .outputSecond, .btnClear, .toOtherPage, .sidebar {
    margin-left: 5%;
    margin-right: 5%;
}

.buttonStart, .nameOfOutputFirst, .outputFirst, .nameOfOutputSecond, .outputSecond, .btnClear, .toOtherPage:first-child {
    text-align: center;
}

.nameOfOutputFirst {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.outputFirst {
    margin-top: 10px;
    margin-bottom: 20px;
}

.outputSecond, .btnClear {
    margin-top: 10px;
    margin-bottom: 20px;
}

.toOtherPage {
    border: 3px solid transparent;
    border-top: ridge #f5f8ff;
    border-bottom: ridge #f5f8ff;
}

#start, #result {
    margin-left: 5px;
    border-radius: 4%;
    background-color: #f5f8ff;
    border: 3px solid #a0aebe;
    font-size: 16px;
}

#graphField {
    margin-top: 20px;
    background-color: #f5f8ff;
    border: 4px solid #718296;
}

.btn {
    margin-left: 5px;
    border-radius: 4%;
    cursor: pointer;
    border: 3px solid #960912;
    background-color: #f5f8ff;
    color: #960912;
}

button:focus {
    background-color: #ffffff;
}

.sidebar {
    align-items: center;
    margin-top: 20px;
    padding-right: 5%;
    padding-top: 20px;
    text-align: left;
    height: auto;
    border: 4px solid #718296;
    background-color: #f5f8ff;
}

.sidebar__menu a {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: #78899f;
    text-decoration: none;
}

a.toMain {
    font-size: 20px;
}
a:hover {
    color: #5b687e;
}
.sidebar__menu li {
    list-style-position: outside;
}

.footer__menu__names {
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer__menu__names:nth-child(2) {
    margin-left: 20%;
}
.footer__menu__names a
{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #ddeef9;
    text-decoration: none;
}

.footer__menu li {
    list-style-type: none;
}
